$colorBlack: #3E3E3E;
$colorWhite: #FFF;
$colorSection: #F9FBFE;

$colorGrey: rgba(62, 62, 62, 0.7);
$colorBorder: rgba(42, 95, 203, 0.15);
$colorBlue: #2A5FCB;
$colorSearchBorder: #C4C4C4;
$colorPlaceholder: #9E9E9E;
$colorGreen: #27AE60;
$colorRed: #FC5426;
$colorSpans: #A5A5A5;
$colorActivationBottom: #A5A5A5;
















